<ng-container *ngIf=" pet !== undefined  ; else not_found">

  <div class="table-custom-card">

      <div>
        <img [src]='pet.picture' class='image'>
      </div>

      <div class="employeeInfo">
        <h2 class="employee_label">Owner Name : {{pet.ownerFirstName}} {{pet.ownerLastName}}</h2>

        <span class="employee_label">Pet ID : {{pet.id}}</span>
        <span class="employee_label">Pet Name : {{pet.petName}}</span>
        <span class="employee_label">Pet Kind : {{pet.petKind}}</span>
        <span class="employee_label">Pet Breed : {{pet.breed}}</span>
      </div>

  </div>

</ng-container>
<ng-template #not_found>
  <p class="message">
    The data is not found.
  </p>
</ng-template>

